.mila__content{
display: flex;
justify-content: center;
align-items: center;
height: 350px;
width:300px;
font-family: var(--font-family);
box-shadow: rgba(0, 0, 0, .24) 0px 3px 8px;
margin: auto;
margin-top: 150px;
    border-radius: 25px;
    background-color: hsl(221, 100%, 96%);

}

 .btn {
    height: 50px;
width: 270px;
margin-top:40px ;
border-radius: 20px;
color: white;
background-color: var(--color-text);
font-family: var(--font-family);
font-weight: 500;
font-size: 18px;
border: 0;
cursor: pointer;
}

.btn:hover{
    background-color:var(--color-content);
}


.mila__arrow{
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    height: 0px;
    z-index: 1;
    cursor: pointer;
}

.mila__content .settings {
    display: flex;
 float: right;
 cursor: pointer;
    margin-bottom: 50px;
   width: 9%;
  top: -1.8px;
    position: relative;
   
 
}

.mila__content .settings:hover{
    color: var(--color-content);

}


.mila__content .card p{
   display: flex;
width: 30%;
    float: left;
   bottom: 20px;
position: relative;
    font-size: 19px;
    font-family: var(--font-family);
    cursor: pointer;

}



@media (max-width: 900px) {
    .mila__content {
       position: relative;
       z-index: -1;
    
        height: 100%;
      
        
    }

     

.mila__navbar-menu_container{
    position: absolute;
    top: 20px;
}

}




@media screen and (max-width: 900px) { 
    .mila__content {
       
        margin-top: 350px;
    padding:7% 0;
       
         
     }
 
 
      
}